.lead {
  padding-top: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead__title {
  margin: 90px 0 0 ;
  max-width: 793px;
  text-align: center;
  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.04;
}

.lead__subtitle {
  margin: 32px 0 64px;
  max-width: 720px;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}

.lead__image {
  max-width: 984px;
  width: 100%;
  height: auto;
  object-fit: cover;
  filter: grayscale(100%);
}

@media screen and (max-width: 800px) {
  .lead__title {
    max-width: 550px;
  }

  .lead__subtitle {
    margin: 32px 0 40px;
  }
}

@media screen and (max-width: 550px) {
  .lead__title {
    margin-top: 50px;
    font-size: 40px;
    line-height: 1.1;
    padding: 0 50px;
  }

  .lead__subtitle {
    margin: 16px 0 20px;
    font-size: 16px;
    line-height: 1.25;
    padding: 0 50px;
  }
}
